div {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

p {
    color: white;
    background-color: green;
}

button {
    color: black;
    background-color: orange;
}